In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, BooleanType

In [0]:
data = [
    (1, 'mahendra1', 34, 5600, 'Data Science'),
    (2, 'mahi', 35, 62000, 'Data Engineer'),
    (3, 'am1', 29, 5400, 'Data Science'),
    (4, 'aga', 53, 80000, 'Data Engineer'),
    (5, 'agahow1', 25, 4400, 'Data')
]

In [0]:
spark = SparkSession.builder.appName('first').getOrCreate()

In [0]:
df = spark.createDataFrame(data)

In [0]:
df.show(n=10)

+---+--------+---+-----+-------------+
| _1|      _2| _3|   _4|           _5|
+---+--------+---+-----+-------------+
|  1|mahendra| 34|56000| Data Science|
|  2|    mahi| 35|62000|Data Engineer|
|  3|      am| 29|54000| Data Science|
|  4|     aga| 53|80000|Data Engineer|
|  5|  agahow| 25|44000|         Data|
+---+--------+---+-----+-------------+

In [0]:
df.collect()

Out[14]: [Row(_1=1, _2='mahendra', _3=34, _4=56000, _5='Data Science'),
 Row(_1=2, _2='mahi', _3=35, _4=62000, _5='Data Engineer'),
 Row(_1=3, _2='am', _3=29, _4=54000, _5='Data Science'),
 Row(_1=4, _2='aga', _3=53, _4=80000, _5='Data Engineer'),
 Row(_1=5, _2='agahow', _3=25, _4=44000, _5='Data')]

In [0]:
cols = ['empid', 'name', 'age', 'salary', 'department']

In [0]:
df5 = spark.createDataFrame(data,cols)

In [0]:
df2.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
df2.filter((col('name') == 'mahi') | (col('salary')>60000) & (col('department') == 'Data Engineer')).show()

+-----+----+---+------+-------------+
|empid|name|age|salary|   department|
+-----+----+---+------+-------------+
|    2|mahi| 35| 62000|Data Engineer|
|    4| aga| 53| 80000|Data Engineer|
+-----+----+---+------+-------------+

In [0]:
df2.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
df2.orderBy('name').show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
|    3|      am| 29| 54000| Data Science|
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
+-----+--------+---+------+-------------+

In [0]:
df2.orderBy(col('department').asc(), col('age').desc()).show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    5|  agahow| 25| 44000|         Data|
|    4|     aga| 53| 80000|Data Engineer|
|    2|    mahi| 35| 62000|Data Engineer|
|    1|mahendra| 34| 56000| Data Science|
|    3|      am| 29| 54000| Data Science|
+-----+--------+---+------+-------------+

In [0]:
df2.drop(col('department')).show()

+-----+--------+---+------+
|empid|    name|age|salary|
+-----+--------+---+------+
|    1|mahendra| 34| 56000|
|    2|    mahi| 35| 62000|
|    3|      am| 29| 54000|
|    4|     aga| 53| 80000|
|    5|  agahow| 25| 44000|
+-----+--------+---+------+

In [0]:
df2

Out[37]: DataFrame[empid: bigint, name: string, age: bigint, salary: bigint, department: string]

In [0]:
df2.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
df3 = df2.join(df, df2.empid == df._1).select(df._1.alias('employeeid'),
                                        df._2.alias('employeename'),
                                        df._3.alias('age'),
                                        df._4.alias('salary'),
                                        df._5.alias('department'))

In [0]:
df3.show()

+----------+------------+---+------+-------------+
|employeeid|employeename|age|salary|   department|
+----------+------------+---+------+-------------+
|         1|    mahendra| 34| 56000| Data Science|
|         2|        mahi| 35| 62000|Data Engineer|
|         3|          am| 29| 54000| Data Science|
|         4|         aga| 53| 80000|Data Engineer|
|         5|      agahow| 25| 44000|         Data|
+----------+------------+---+------+-------------+

In [0]:
df4 = df2.unionAll(df3)

In [0]:
df4.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
df4.dropDuplicates().show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
df4.drop_duplicates().show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
df4.dropDuplicates(['name', 'age']).show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
|    3|      am| 29| 54000| Data Science|
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
+-----+--------+---+------+-------------+

In [0]:
df5.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6 = df2.unionAll(df5)

In [0]:
df6.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.dropDuplicates().show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    3|      am1| 29|  5400| Data Science|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.drop_duplicates().show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    3|      am1| 29|  5400| Data Science|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.drop_duplicates(['age', 'name', 'salary']).show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    5|   agahow| 25| 44000|         Data|
|    5|  agahow1| 25|  4400|         Data|
|    3|       am| 29| 54000| Data Science|
|    3|      am1| 29|  5400| Data Science|
|    1| mahendra| 34| 56000| Data Science|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
+-----+---------+---+------+-------------+

In [0]:
df5.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.where(col('name')=='mahendra1').show()

+-----+---------+---+------+------------+
|empid|     name|age|salary|  department|
+-----+---------+---+------+------------+
|    1|mahendra1| 34|  5600|Data Science|
+-----+---------+---+------+------------+

In [0]:
df6.groupBy('department').agg(sum('salary').alias('total_salary')).show()

+-------------+------------+
|   department|total_salary|
+-------------+------------+
| Data Science|      121000|
|Data Engineer|      284000|
|         Data|       48400|
+-------------+------------+

In [0]:
df6.where((col('department') == 'Data')| (col('salary') > 50000))\
    .groupBy('department').agg(avg('salary').alias('average_salary')).show()

+-------------+--------------+
|   department|average_salary|
+-------------+--------------+
| Data Science|       55000.0|
|Data Engineer|       71000.0|
|         Data|       24200.0|
+-------------+--------------+

In [0]:
df6.count()

Out[90]: 10

In [0]:
df6.dropna()

Out[91]: DataFrame[empid: bigint, name: string, age: bigint, salary: bigint, department: string]

In [0]:
df6.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.groupBy('department').count().orderBy('count').show()

+-------------+-----+
|   department|count|
+-------------+-----+
|         Data|    2|
| Data Science|    4|
|Data Engineer|    4|
+-------------+-----+

In [0]:
df7 = df6.groupBy('department').agg(collect_list('name').alias('employees_list'))

In [0]:
df7.show()

+-------------+--------------------+
|   department|      employees_list|
+-------------+--------------------+
| Data Science|[mahendra, am, ma...|
|Data Engineer|[mahi, aga, mahi,...|
|         Data|   [agahow, agahow1]|
+-------------+--------------------+

In [0]:
df7.show(truncate=False)

+-------------+------------------------------+
|department   |employees_list                |
+-------------+------------------------------+
|Data Science |[mahendra, am, mahendra1, am1]|
|Data Engineer|[mahi, aga, mahi, aga]        |
|Data         |[agahow, agahow1]             |
+-------------+------------------------------+

In [0]:
df7.withColumn('name', explode(col('employees_list'))).drop(col('employees_list')).show(truncate=False)

+-------------+---------+
|department   |name     |
+-------------+---------+
|Data Science |mahendra |
|Data Science |am       |
|Data Science |mahendra1|
|Data Science |am1      |
|Data Engineer|mahi     |
|Data Engineer|aga      |
|Data Engineer|mahi     |
|Data Engineer|aga      |
|Data         |agahow   |
|Data         |agahow1  |
+-------------+---------+

In [0]:
df6.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.write.mode('overwrite').format('csv').save('dbfs:/FileStore/tables/employees_info', header = True)

In [0]:
d = spark.read.csv('dbfs:/FileStore/tables/employees_info', header=True, inferSchema=True)

In [0]:
d.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    2|     mahi| 35| 62000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    3|      am1| 29|  5400| Data Science|
|    5|   agahow| 25| 44000|         Data|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
s= spark.read.format('csv').option('header', True)\
    .load('dbfs:/FileStore/tables/employees_info')

In [0]:
s.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    2|     mahi| 35| 62000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    3|      am1| 29|  5400| Data Science|
|    5|   agahow| 25| 44000|         Data|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
s.write.format('parquet').option('header',True).save('dbfs:/FileStore/tables/employees_info1')

In [0]:
spark.read.parquet('dbfs:/FileStore/tables/employees_info1', header = True).show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    2|     mahi| 35| 62000|Data Engineer|
|    2|     mahi| 35| 62000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
|    4|      aga| 53| 80000|Data Engineer|
|    1| mahendra| 34| 56000| Data Science|
|    1|mahendra1| 34|  5600| Data Science|
|    3|       am| 29| 54000| Data Science|
|    3|      am1| 29|  5400| Data Science|
|    5|   agahow| 25| 44000|         Data|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df6.groupby(col('department')).agg(min(col('salary')).alias('minimum_salary'),
                                   max(col('salary')).alias('maximum_salary'), 
                                   avg('salary').alias('average_salary'),
                                   count('empid').alias('number_of_employees')).show()

+-------------+--------------+--------------+--------------+-------------------+
|   department|minimum_salary|maximum_salary|average_salary|number_of_employees|
+-------------+--------------+--------------+--------------+-------------------+
| Data Science|          5400|         56000|       30250.0|                  4|
|Data Engineer|         62000|         80000|       71000.0|                  4|
|         Data|          4400|         44000|       24200.0|                  2|
+-------------+--------------+--------------+--------------+-------------------+

In [0]:
df6.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df8 = df6.withColumn('age_group', when(col('age')<=30, 'Young')\
    .when((col('age')>30) & (col('age')<50), 'middle').otherwise('Old'))

In [0]:
df8.show()

+-----+---------+---+------+-------------+---------+
|empid|     name|age|salary|   department|age_group|
+-----+---------+---+------+-------------+---------+
|    1| mahendra| 34| 56000| Data Science|   middle|
|    2|     mahi| 35| 62000|Data Engineer|   middle|
|    3|       am| 29| 54000| Data Science|    Young|
|    4|      aga| 53| 80000|Data Engineer|      Old|
|    5|   agahow| 25| 44000|         Data|    Young|
|    1|mahendra1| 34|  5600| Data Science|   middle|
|    2|     mahi| 35| 62000|Data Engineer|   middle|
|    3|      am1| 29|  5400| Data Science|    Young|
|    4|      aga| 53| 80000|Data Engineer|      Old|
|    5|  agahow1| 25|  4400|         Data|    Young|
+-----+---------+---+------+-------------+---------+

In [0]:
from pyspark.sql.window import Window

In [0]:
wind_sp = Window.orderBy('employeeid')
df3.withColumn('cumilative_total', sum('salary').over(wind_sp)).show()

+----------+------------+---+------+-------------+----------------+
|employeeid|employeename|age|salary|   department|cumilative_total|
+----------+------------+---+------+-------------+----------------+
|         1|    mahendra| 34| 56000| Data Science|           56000|
|         2|        mahi| 35| 62000|Data Engineer|          118000|
|         3|          am| 29| 54000| Data Science|          172000|
|         4|         aga| 53| 80000|Data Engineer|          252000|
|         5|      agahow| 25| 44000|         Data|          296000|
+----------+------------+---+------+-------------+----------------+

In [0]:
df3.agg(sum(col('salary'))).show()

+-----------+
|sum(salary)|
+-----------+
|     296000|
+-----------+

In [0]:
wind_sp1 = Window.partitionBy('department').orderBy('employeeid')
df3.withColumn('dept_total',sum(col('salary')).over(wind_sp1)).show()

+----------+------------+---+------+-------------+----------+
|employeeid|employeename|age|salary|   department|dept_total|
+----------+------------+---+------+-------------+----------+
|         5|      agahow| 25| 44000|         Data|     44000|
|         2|        mahi| 35| 62000|Data Engineer|     62000|
|         4|         aga| 53| 80000|Data Engineer|    142000|
|         1|    mahendra| 34| 56000| Data Science|     56000|
|         3|          am| 29| 54000| Data Science|    110000|
+----------+------------+---+------+-------------+----------+

In [0]:
df6.show()

+-----+---------+---+------+-------------+
|empid|     name|age|salary|   department|
+-----+---------+---+------+-------------+
|    1| mahendra| 34| 56000| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|       am| 29| 54000| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|   agahow| 25| 44000|         Data|
|    1|mahendra1| 34|  5600| Data Science|
|    2|     mahi| 35| 62000|Data Engineer|
|    3|      am1| 29|  5400| Data Science|
|    4|      aga| 53| 80000|Data Engineer|
|    5|  agahow1| 25|  4400|         Data|
+-----+---------+---+------+-------------+

In [0]:
df8.show()

+-----+---------+---+------+-------------+---------+
|empid|     name|age|salary|   department|age_group|
+-----+---------+---+------+-------------+---------+
|    1| mahendra| 34| 56000| Data Science|   middle|
|    2|     mahi| 35| 62000|Data Engineer|   middle|
|    3|       am| 29| 54000| Data Science|    Young|
|    4|      aga| 53| 80000|Data Engineer|      Old|
|    5|   agahow| 25| 44000|         Data|    Young|
|    1|mahendra1| 34|  5600| Data Science|   middle|
|    2|     mahi| 35| 62000|Data Engineer|   middle|
|    3|      am1| 29|  5400| Data Science|    Young|
|    4|      aga| 53| 80000|Data Engineer|      Old|
|    5|  agahow1| 25|  4400|         Data|    Young|
+-----+---------+---+------+-------------+---------+

In [0]:
sec_h = Window.orderBy(col('salary').desc())
df6.withColumn('rnk', dense_rank().over(sec_h)).where(col('rnk')<=2).show(n=10)

+-----+----+---+------+-------------+---+
|empid|name|age|salary|   department|rnk|
+-----+----+---+------+-------------+---+
|    4| aga| 53| 80000|Data Engineer|  1|
|    4| aga| 53| 80000|Data Engineer|  1|
|    2|mahi| 35| 62000|Data Engineer|  2|
|    2|mahi| 35| 62000|Data Engineer|  2|
+-----+----+---+------+-------------+---+

In [0]:
df2.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
dfy =df2.withColumnRenamed('empid', 'employeeid').withColumnRenamed('name', 
                                                               'employeename')\
                                                                   .withColumnRenamed('age', 'employeeage')\
                                                                       .withColumnRenamed('salary', 'employee_salary')\
                                                                           .withColumnRenamed('department', 'department_name')

In [0]:
df2.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
dfx = df2.withColumn('mgrid', when(col('department')=='Data Engineer', 2)\
    .when(col('department')=='Data Science', 1).otherwise(3))

In [0]:
dfx.show()

+-----+--------+---+------+-------------+-----+
|empid|    name|age|salary|   department|mgrid|
+-----+--------+---+------+-------------+-----+
|    1|mahendra| 34| 56000| Data Science|    1|
|    2|    mahi| 35| 62000|Data Engineer|    2|
|    3|      am| 29| 54000| Data Science|    1|
|    4|     aga| 53| 80000|Data Engineer|    2|
|    5|  agahow| 25| 44000|         Data|    3|
+-----+--------+---+------+-------------+-----+

In [0]:
dfx.show()

+-----+--------+---+------+-------------+-----+
|empid|    name|age|salary|   department|mgrid|
+-----+--------+---+------+-------------+-----+
|    1|mahendra| 34| 56000| Data Science|    1|
|    2|    mahi| 35| 62000|Data Engineer|    2|
|    3|      am| 29| 54000| Data Science|    1|
|    4|     aga| 53| 80000|Data Engineer|    2|
|    5|  agahow| 25| 44000|         Data|    3|
+-----+--------+---+------+-------------+-----+

In [0]:
df2.show()

+-----+--------+---+------+-------------+
|empid|    name|age|salary|   department|
+-----+--------+---+------+-------------+
|    1|mahendra| 34| 56000| Data Science|
|    2|    mahi| 35| 62000|Data Engineer|
|    3|      am| 29| 54000| Data Science|
|    4|     aga| 53| 80000|Data Engineer|
|    5|  agahow| 25| 44000|         Data|
+-----+--------+---+------+-------------+

In [0]:
dfx.join(df2, dfx.mgrid == df2.empid)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2755170561989769>:1
----> 1 dfx.join(df2, dfx.mgrid == df2.empid).select(dfx.empid).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2364, in DataFrame.join(self, other, on, how)
   2362         on = self._jseq([])
   2363     assert isinstance(how, str), "how should be a string"
-> 2364     jdf = self._jdf.join(other._jdf, on, how)
   2365 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Column empid#6625L are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same. This column points to one of the Datasets but Spark is unable to figure out which one. Please alias the Datasets with different names via `Dataset.as` before joining them, and specify the column using qualified name, e.g. `df.as("a").join(df.as("b"), $"a.id" > $"b.id")`. You can also set spark.sql.analyzer.failAmbiguousSelfJoin to false to disable this check.

In [0]:
dfx.show()

+-----+--------+---+------+-------------+-----+
|empid|    name|age|salary|   department|mgrid|
+-----+--------+---+------+-------------+-----+
|    1|mahendra| 34| 56000| Data Science|    1|
|    2|    mahi| 35| 62000|Data Engineer|    2|
|    3|      am| 29| 54000| Data Science|    1|
|    4|     aga| 53| 80000|Data Engineer|    2|
|    5|  agahow| 25| 44000|         Data|    3|
+-----+--------+---+------+-------------+-----+

In [0]:
a = dfx.alias('a')
b = dfx.alias('b')
a.join(b, a.mgrid == b.empid).select(a['*'], b['name'].alias('manager_name')).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2755170561989771>:3
      1 a = dfx.alias('a')
      2 b = dfx.alias('b')
----> 3 a.join(b, a.mgrid == b.empid).select(a['*'], b['name'].alias('manager_name')).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Column name#152 are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same. This column points to one of the Datasets but Spark is unable to figure out which one. Please alias the Datasets with different names via `Dataset.as` before joining them, and specify the column using qualified name, e.g. `df.as("a").join(df.as("b"), $"a.id" > $"b.id")`. You can also set spark.sql.analyzer.failAmbiguousSelfJoin to false to disable this check.

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2755170561989772>:4
      1 a = dfx.alias('a')
      2 b = dfx.alias('b')
----> 4 result = a.join(b, a.mgrid == b.empid) \
      5           .select(*[a[col] for col in dfx.columns], b['name'].alias('manager_name'))
      7 result.show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Column name#152 are ambiguous. It's probably because you joined several Datasets together, and some of these Datasets are the same. This column points to one of the Datasets but Spark is unable to figure out which one. Please alias the Datasets with different names via `Dataset.as` before joining them, and specify the column using qualified name, e.g. `df.as("a").join(df.as("b"), $"a.id" > $"b.id")`. You can also set spark.sql.analyzer.failAmbiguousSelfJoin to false to disable this check.