In [0]:
x = 29

In [0]:
spark

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName('psyaprk_series').getOrCreate()

In [0]:
spark

In [0]:
data = [
    (1, 'giri', 34, 450000, 'Data Analytics'),
    (2, 'mahi', 45, 55000, 'Software'), 
    (3, 'sam', 56, 670000, 'Data Aanalytics'),
    (4, 'hari', 67, 90000, 'Data Science'), 
    (5, 'ravesh', 42, 76000, 'Data Science'), 
    (6, 'yoganand', 56, 89000, 'Software')
]

In [0]:
data_df = spark.createDataFrame(data)
data_df.show()

+---+--------+---+------+---------------+
| _1|      _2| _3|    _4|             _5|
+---+--------+---+------+---------------+
|  1|    giri| 34|450000| Data Analytics|
|  2|    mahi| 45| 55000|       Software|
|  3|     sam| 56|670000|Data Aanalytics|
|  4|    hari| 67| 90000|   Data Science|
|  5|  ravesh| 42| 76000|   Data Science|
|  6|yoganand| 56| 89000|       Software|
+---+--------+---+------+---------------+

In [0]:
data_df = spark.createDataFrame(data, ['id', 'name', 'age', 'salary', 'department'])

In [0]:
data_df.show()

+---+--------+---+------+---------------+
| id|    name|age|salary|     department|
+---+--------+---+------+---------------+
|  1|    giri| 34|450000| Data Analytics|
|  2|    mahi| 45| 55000|       Software|
|  3|     sam| 56|670000|Data Aanalytics|
|  4|    hari| 67| 90000|   Data Science|
|  5|  ravesh| 42| 76000|   Data Science|
|  6|yoganand| 56| 89000|       Software|
+---+--------+---+------+---------------+

In [0]:
data_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)

In [0]:
columns = ['id', 'name', 'age', 'salary', 'department']

In [0]:
data_df = spark.createDataFrame(data, schema= columns)
data_df.show()

+---+--------+---+------+---------------+
| id|    name|age|salary|     department|
+---+--------+---+------+---------------+
|  1|    giri| 34|450000| Data Analytics|
|  2|    mahi| 45| 55000|       Software|
|  3|     sam| 56|670000|Data Aanalytics|
|  4|    hari| 67| 90000|   Data Science|
|  5|  ravesh| 42| 76000|   Data Science|
|  6|yoganand| 56| 89000|       Software|
+---+--------+---+------+---------------+

In [0]:
data_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)

In [0]:
from pyspark.sql.types import StructField, StructType, IntegerType, StringType, FloatType, DateType, DecimalType, MapType

In [0]:
col = StructType(
    [
        StructField('id', IntegerType(), nullable=False), 
        StructField('name', StringType()), 
        StructField('age', IntegerType()),
        StructField('salary', IntegerType()),
        StructField('department', StringType())    ]
)

In [0]:
data_df = spark.createDataFrame(data, schema=col)

In [0]:
data_df.show()

+---+--------+---+------+---------------+
| id|    name|age|salary|     department|
+---+--------+---+------+---------------+
|  1|    giri| 34|450000| Data Analytics|
|  2|    mahi| 45| 55000|       Software|
|  3|     sam| 56|670000|Data Aanalytics|
|  4|    hari| 67| 90000|   Data Science|
|  5|  ravesh| 42| 76000|   Data Science|
|  6|yoganand| 56| 89000|       Software|
+---+--------+---+------+---------------+

In [0]:
data_df.printSchema()

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)

In [0]:
data_df.show()

+---+--------+---+------+---------------+
| id|    name|age|salary|     department|
+---+--------+---+------+---------------+
|  1|    giri| 34|450000| Data Analytics|
|  2|    mahi| 45| 55000|       Software|
|  3|     sam| 56|670000|Data Aanalytics|
|  4|    hari| 67| 90000|   Data Science|
|  5|  ravesh| 42| 76000|   Data Science|
|  6|yoganand| 56| 89000|       Software|
+---+--------+---+------+---------------+

In [0]:
#DDL, DML, DRL, TCL, DCL

**i. adding columns**

In [0]:
data1_df = data_df.select('id', 'name', 'salary')
data1_df.show()

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|    giri|450000|
|  2|    mahi| 55000|
|  3|     sam|670000|
|  4|    hari| 90000|
|  5|  ravesh| 76000|
|  6|yoganand| 89000|
+---+--------+------+

In [0]:
data1_df.show()

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|    giri|450000|
|  2|    mahi| 55000|
|  3|     sam|670000|
|  4|    hari| 90000|
|  5|  ravesh| 76000|
|  6|yoganand| 89000|
+---+--------+------+

In [0]:
from pyspark.sql.functions import lit
data_df = data_df.withColumn('location', col=lit(None))
data_df.show()

+---+--------+---+------+---------------+--------+
| id|    name|age|salary|     department|location|
+---+--------+---+------+---------------+--------+
|  1|    giri| 34|450000| Data Analytics|    null|
|  2|    mahi| 45| 55000|       Software|    null|
|  3|     sam| 56|670000|Data Aanalytics|    null|
|  4|    hari| 67| 90000|   Data Science|    null|
|  5|  ravesh| 42| 76000|   Data Science|    null|
|  6|yoganand| 56| 89000|       Software|    null|
+---+--------+---+------+---------------+--------+

In [0]:
from pyspark.sql.functions import col

In [0]:
data_df = data_df.withColumn('salary1', col=col('salary')*1.1)
data_df.show()

+---+--------+---+------+---------------+--------+------------------+
| id|    name|age|salary|     department|location|           salary1|
+---+--------+---+------+---------------+--------+------------------+
|  1|    giri| 34|450000| Data Analytics|    null|495000.00000000006|
|  2|    mahi| 45| 55000|       Software|    null| 60500.00000000001|
|  3|     sam| 56|670000|Data Aanalytics|    null| 737000.0000000001|
|  4|    hari| 67| 90000|   Data Science|    null| 99000.00000000001|
|  5|  ravesh| 42| 76000|   Data Science|    null|           83600.0|
|  6|yoganand| 56| 89000|       Software|    null| 97900.00000000001|
+---+--------+---+------+---------------+--------+------------------+

In [0]:
data_df = data_df.withColumnRenamed('salary1', 'udpated_salary')

In [0]:
data_df.show()

+---+--------+---+------+---------------+--------+------------------+
| id|    name|age|salary|     department|location|    udpated_salary|
+---+--------+---+------+---------------+--------+------------------+
|  1|    giri| 34|450000| Data Analytics|    null|495000.00000000006|
|  2|    mahi| 45| 55000|       Software|    null| 60500.00000000001|
|  3|     sam| 56|670000|Data Aanalytics|    null| 737000.0000000001|
|  4|    hari| 67| 90000|   Data Science|    null| 99000.00000000001|
|  5|  ravesh| 42| 76000|   Data Science|    null|           83600.0|
|  6|yoganand| 56| 89000|       Software|    null| 97900.00000000001|
+---+--------+---+------+---------------+--------+------------------+

In [0]:
data_df = data_df.drop('udpated_salary')

In [0]:
data_df.show()

+---+--------+---+------+---------------+--------+
| id|    name|age|salary|     department|location|
+---+--------+---+------+---------------+--------+
|  1|    giri| 34|450000| Data Analytics|    null|
|  2|    mahi| 45| 55000|       Software|    null|
|  3|     sam| 56|670000|Data Aanalytics|    null|
|  4|    hari| 67| 90000|   Data Science|    null|
|  5|  ravesh| 42| 76000|   Data Science|    null|
|  6|yoganand| 56| 89000|       Software|    null|
+---+--------+---+------+---------------+--------+

In [0]:
data_df = data_df.withColumn('location', col=lit('hyderabad'))
data_df.show()

+---+--------+---+------+---------------+---------+
| id|    name|age|salary|     department| location|
+---+--------+---+------+---------------+---------+
|  1|    giri| 34|450000| Data Analytics|hyderabad|
|  2|    mahi| 45| 55000|       Software|hyderabad|
|  3|     sam| 56|670000|Data Aanalytics|hyderabad|
|  4|    hari| 67| 90000|   Data Science|hyderabad|
|  5|  ravesh| 42| 76000|   Data Science|hyderabad|
|  6|yoganand| 56| 89000|       Software|hyderabad|
+---+--------+---+------+---------------+---------+

In [0]:
data_df.show()

+---+--------+---+------+---------------+---------+
| id|    name|age|salary|     department| location|
+---+--------+---+------+---------------+---------+
|  1|    giri| 34|450000| Data Analytics|hyderabad|
|  2|    mahi| 45| 55000|       Software|hyderabad|
|  3|     sam| 56|670000|Data Aanalytics|hyderabad|
|  4|    hari| 67| 90000|   Data Science|hyderabad|
|  5|  ravesh| 42| 76000|   Data Science|hyderabad|
|  6|yoganand| 56| 89000|       Software|hyderabad|
+---+--------+---+------+---------------+---------+

 
## **Part I**
**Created a dataframe (without columns, with columns, with our own schema)**

## **Part - II**
**Retriving any data we want (using select command)**

**Adding columns (with direct values (using lit functions), reference values from existing columns)**

**Dropping columns (using drop command)**

**Renaming columns (using withColumnRenamed function)**


## **Part - III**
**Updating values for any column/columns (using when and otherwise function)**

In [0]:
data_df.show()

+---+--------+---+------+---------------+---------+
| id|    name|age|salary|     department| location|
+---+--------+---+------+---------------+---------+
|  1|    giri| 34|450000| Data Analytics|hyderabad|
|  2|    mahi| 45| 55000|       Software|hyderabad|
|  3|     sam| 56|670000|Data Aanalytics|hyderabad|
|  4|    hari| 67| 90000|   Data Science|hyderabad|
|  5|  ravesh| 42| 76000|   Data Science|hyderabad|
|  6|yoganand| 56| 89000|       Software|hyderabad|
+---+--------+---+------+---------------+---------+

In [0]:
from pyspark.sql.functions import when
data_df = data_df.withColumn('department', when(col('department')=='Data Aanalytics', 'Data Analytics').otherwise(col('department')))
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|hyderabad|
|  2|    mahi| 45| 55000|      Software|hyderabad|
|  3|     sam| 56|670000|Data Analytics|hyderabad|
|  4|    hari| 67| 90000|  Data Science|hyderabad|
|  5|  ravesh| 42| 76000|  Data Science|hyderabad|
|  6|yoganand| 56| 89000|      Software|hyderabad|
+---+--------+---+------+--------------+---------+

In [0]:
data_df = data_df.withColumn('location', when(col('department')=='Data Analytics', 'Bangalore')\
    .when(col('department')=='Software', 'Chennai')\
        .when(col('department')=='Data Science', 'Pune')\
        .otherwise(col('location')))
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.withColumn('location', when((col('department')=='Data Analytics') & (col('salary')>500000), 'Delhi')\
    .when(col('department')=='Data Science', 'Pune')\
    .when((col('department')=='Software') | (col('age')>50), 'Mumbai')\
        .otherwise(col('location'))).show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|   Mumbai|
|  3|     sam| 56|670000|Data Analytics|    Delhi|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|   Mumbai|
+---+--------+---+------+--------------+---------+

# **Part - III**
**Updating values for any column/columns (using when and otherwise function)**

# **Part - IV**

**Filter data (using where or  filter)**

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_dataanalytics = data_df.where(col('department')=='Data Analytics')
data_dataanalytics.show()

+---+----+---+------+--------------+---------+
| id|name|age|salary|    department| location|
+---+----+---+------+--------------+---------+
|  1|giri| 34|450000|Data Analytics|Bangalore|
|  3| sam| 56|670000|Data Analytics|Bangalore|
+---+----+---+------+--------------+---------+

In [0]:
data_df.where((col('department') == 'Data Science') & (col('salary')> 80000)).show()

+---+----+---+------+------------+--------+
| id|name|age|salary|  department|location|
+---+----+---+------+------------+--------+
|  4|hari| 67| 90000|Data Science|    Pune|
+---+----+---+------+------------+--------+

In [0]:
data_df.where((col('salary')> 80000) & (col('department') == 'Software') | (col('age')> 45)).show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.filter(data_df.location == 'Bangalore').show()

+---+----+---+------+--------------+---------+
| id|name|age|salary|    department| location|
+---+----+---+------+--------------+---------+
|  1|giri| 34|450000|Data Analytics|Bangalore|
|  3| sam| 56|670000|Data Analytics|Bangalore|
+---+----+---+------+--------------+---------+

In [0]:
data_df.filter(col('location')=='Bangalore').show()

+---+----+---+------+--------------+---------+
| id|name|age|salary|    department| location|
+---+----+---+------+--------------+---------+
|  1|giri| 34|450000|Data Analytics|Bangalore|
|  3| sam| 56|670000|Data Analytics|Bangalore|
+---+----+---+------+--------------+---------+

In [0]:
dat = data_df.filter((col('location')=='Chennai') | (col('salary')>80000))

# **Part - IV**

**Filter data (using where or  filter)**

# **Part - V**

**Chainging data types of any columns while transforming data (using Cast fuction)**

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.printSchema()

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- location: string (nullable = false)

In [0]:
data_df.withColumn('id', col('id').cast('float')).withColumn('name', col('name').cast('long')).printSchema()

root
 |-- id: float (nullable = false)
 |-- name: long (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- location: string (nullable = false)

In [0]:
data_df.printSchema()

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- location: string (nullable = false)

In [0]:
data_df.withColumn('updated_age', col=(col('age')*1.1).cast(IntegerType())).show()

+---+--------+---+------+--------------+---------+-----------+
| id|    name|age|salary|    department| location|updated_age|
+---+--------+---+------+--------------+---------+-----------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|         37|
|  2|    mahi| 45| 55000|      Software|  Chennai|         49|
|  3|     sam| 56|670000|Data Analytics|Bangalore|         61|
|  4|    hari| 67| 90000|  Data Science|     Pune|         73|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|         46|
|  6|yoganand| 56| 89000|      Software|  Chennai|         61|
+---+--------+---+------+--------------+---------+-----------+

# **Part - V**

**Chainging data types of any columns or even while transforming data (using Cast fuction)**

# **Part - VI**

**Changing the order of the data in a data frame (using OrderBy or sort)**

**Grouping the number of records using GroupBy & usage of aggregate functions**

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.orderBy(col('department').desc(), col('salary')).show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  6|yoganand| 56| 89000|      Software|  Chennai|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.sort(col('department'), col('salary')).show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.select('id', 'name', 'salary', 'department').groupBy('department').count().show()

+--------------+-----+
|    department|count|
+--------------+-----+
|Data Analytics|    2|
|      Software|    2|
|  Data Science|    2|
+--------------+-----+

In [0]:
data_df.groupBy('department', 'location', 'name').sum('salary').show()

+--------------+---------+--------+-----------+
|    department| location|    name|sum(salary)|
+--------------+---------+--------+-----------+
|Data Analytics|Bangalore|    giri|     450000|
|      Software|  Chennai|    mahi|      55000|
|Data Analytics|Bangalore|     sam|     670000|
|  Data Science|     Pune|    hari|      90000|
|  Data Science|     Pune|  ravesh|      76000|
|      Software|  Chennai|yoganand|      89000|
+--------------+---------+--------+-----------+

In [0]:
from pyspark.sql.functions import min, max, avg,sum, count
data_df.groupBy('department').agg(
    min('salary').alias('min_salary'), 
    max('salary').alias('max_salary'),
    sum('salary').alias('total_salary'), 
    count('id').alias('numberofemps'),
    avg('salary').alias('avg_salary')
).show()

+--------------+----------+----------+------------+------------+----------+
|    department|min_salary|max_salary|total_salary|numberofemps|avg_salary|
+--------------+----------+----------+------------+------------+----------+
|Data Analytics|    450000|    670000|     1120000|           2|  560000.0|
|      Software|     55000|     89000|      144000|           2|   72000.0|
|  Data Science|     76000|     90000|      166000|           2|   83000.0|
+--------------+----------+----------+------------+------------+----------+

In [0]:
data_df.agg(
    min('salary').alias('min_salary'), 
    max('salary').alias('max_salary'),
    sum('salary').alias('total_salary'), 
    count('id').alias('numberofemps'),
    avg('salary').alias('avg_salary')
).show()

+----------+----------+------------+------------+------------------+
|min_salary|max_salary|total_salary|numberofemps|        avg_salary|
+----------+----------+------------+------------+------------------+
|     55000|    670000|     1430000|           6|238333.33333333334|
+----------+----------+------------+------------+------------------+

In [0]:
data_df.groupBy('location', 'department').agg(
    min('salary').alias('min_salary'), 
    max('salary').alias('max_salary'),
    sum('salary').alias('total_salary'), 
    count('id').alias('numberofemps'),
    avg('salary').alias('avg_salary')
).show()

+---------+--------------+----------+----------+------------+------------+----------+
| location|    department|min_salary|max_salary|total_salary|numberofemps|avg_salary|
+---------+--------------+----------+----------+------------+------------+----------+
|Bangalore|Data Analytics|    450000|    670000|     1120000|           2|  560000.0|
|  Chennai|      Software|     55000|     89000|      144000|           2|   72000.0|
|     Pune|  Data Science|     76000|     90000|      166000|           2|   83000.0|
+---------+--------------+----------+----------+------------+------------+----------+

# **Part - VI**

**Changing the order of the data in a data frame (using OrderBy or sort)**

**Grouping the number of records using GroupBy & usage of aggregate functions**

# **Part - VII (Window Functions)**

**Implementation of All Window Functions (Rank, Dense Rank, Row Number, Lead, Lag)**

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.createOrReplaceTempView('employees')

In [0]:
%sql
select * from employees

id,name,age,salary,department,location
1,giri,34,450000,Data Analytics,Bangalore
2,mahi,45,55000,Software,Chennai
3,sam,56,670000,Data Analytics,Bangalore
4,hari,67,90000,Data Science,Pune
5,ravesh,42,76000,Data Science,Pune
6,yoganand,56,89000,Software,Chennai

In [0]:
%sql
select sum(salary) from employees

sum(salary)
1430000

In [0]:
%sql
select department, sum(salary) from employees group by department

department,sum(salary)
Data Analytics,1120000
Software,144000
Data Science,166000

In [0]:
%sql
select location, sum(salary) from employees group by location

location,sum(salary)
Bangalore,1120000
Chennai,144000
Pune,166000

In [0]:
%sql
select *, sum(salary) from employees group by id, name, age, salary, department, location

id,name,age,salary,department,location,sum(salary)
1,giri,34,450000,Data Analytics,Bangalore,450000
2,mahi,45,55000,Software,Chennai,55000
3,sam,56,670000,Data Analytics,Bangalore,670000
4,hari,67,90000,Data Science,Pune,90000
5,ravesh,42,76000,Data Science,Pune,76000
6,yoganand,56,89000,Software,Chennai,89000

In [0]:
%sql
select *, sum(salary) over() as total_salary from employees

id,name,age,salary,department,location,total_salary
1,giri,34,450000,Data Analytics,Bangalore,1430000
2,mahi,45,55000,Software,Chennai,1430000
3,sam,56,670000,Data Analytics,Bangalore,1430000
4,hari,67,90000,Data Science,Pune,1430000
5,ravesh,42,76000,Data Science,Pune,1430000
6,yoganand,56,89000,Software,Chennai,1430000

In [0]:
%sql
select *, sum(salary) over(order by id desc) rolling_totals from employees

id,name,age,salary,department,location,rolling_totals
6,yoganand,56,89000,Software,Chennai,89000
5,ravesh,42,76000,Data Science,Pune,165000
4,hari,67,90000,Data Science,Pune,255000
3,sam,56,670000,Data Analytics,Bangalore,925000
2,mahi,45,55000,Software,Chennai,980000
1,giri,34,450000,Data Analytics,Bangalore,1430000

In [0]:
%sql
select *, sum(salary) over() rolling_totals from employees

id,name,age,salary,department,location,rolling_totals
1,giri,34,450000,Data Analytics,Bangalore,1430000
2,mahi,45,55000,Software,Chennai,1430000
3,sam,56,670000,Data Analytics,Bangalore,1430000
4,hari,67,90000,Data Science,Pune,1430000
5,ravesh,42,76000,Data Science,Pune,1430000
6,yoganand,56,89000,Software,Chennai,1430000

In [0]:
%sql
select *, sum(salary) over(partition by location) rolling_totals from employees

id,name,age,salary,department,location,rolling_totals
1,giri,34,450000,Data Analytics,Bangalore,1120000
3,sam,56,670000,Data Analytics,Bangalore,1120000
2,mahi,45,55000,Software,Chennai,144000
6,yoganand,56,89000,Software,Chennai,144000
4,hari,67,90000,Data Science,Pune,166000
5,ravesh,42,76000,Data Science,Pune,166000

In [0]:
%sql
select *, sum(salary) over(partition by department order by id) rolling_totals from employees

id,name,age,salary,department,location,rolling_totals
1,giri,34,450000,Data Analytics,Bangalore,450000
3,sam,56,670000,Data Analytics,Bangalore,1120000
4,hari,67,90000,Data Science,Pune,90000
5,ravesh,42,76000,Data Science,Pune,166000
2,mahi,45,55000,Software,Chennai,55000
6,yoganand,56,89000,Software,Chennai,144000

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
from pyspark.sql.window import Window

In [0]:
orderbyid = Window.orderBy()

In [0]:
data_df.withColumn('total_salary', sum('salary').over(orderbyid)).show()

+---+--------+---+------+--------------+---------+------------+
| id|    name|age|salary|    department| location|total_salary|
+---+--------+---+------+--------------+---------+------------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|     1430000|
|  2|    mahi| 45| 55000|      Software|  Chennai|     1430000|
|  3|     sam| 56|670000|Data Analytics|Bangalore|     1430000|
|  4|    hari| 67| 90000|  Data Science|     Pune|     1430000|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|     1430000|
|  6|yoganand| 56| 89000|      Software|  Chennai|     1430000|
+---+--------+---+------+--------------+---------+------------+

In [0]:
orderbyid1 = Window.orderBy('id')

In [0]:
data_df.withColumn('running_totals', sum('salary').over(orderbyid1)).show()

+---+--------+---+------+--------------+---------+--------------+
| id|    name|age|salary|    department| location|running_totals|
+---+--------+---+------+--------------+---------+--------------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|        450000|
|  2|    mahi| 45| 55000|      Software|  Chennai|        505000|
|  3|     sam| 56|670000|Data Analytics|Bangalore|       1175000|
|  4|    hari| 67| 90000|  Data Science|     Pune|       1265000|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|       1341000|
|  6|yoganand| 56| 89000|      Software|  Chennai|       1430000|
+---+--------+---+------+--------------+---------+--------------+

In [0]:
partitionbydept = Window.partitionBy('department')

In [0]:
data_df.withColumn('dept_wise_total_salary', sum('salary').over(partitionbydept)).show()

+---+--------+---+------+--------------+---------+----------------------+
| id|    name|age|salary|    department| location|dept_wise_total_salary|
+---+--------+---+------+--------------+---------+----------------------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|               1120000|
|  3|     sam| 56|670000|Data Analytics|Bangalore|               1120000|
|  4|    hari| 67| 90000|  Data Science|     Pune|                166000|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|                166000|
|  2|    mahi| 45| 55000|      Software|  Chennai|                144000|
|  6|yoganand| 56| 89000|      Software|  Chennai|                144000|
+---+--------+---+------+--------------+---------+----------------------+

In [0]:
data_df.withColumn('dept_wise_running_totals', sum('salary').over(Window.partitionBy('department').orderBy('id'))).show()

+---+--------+---+------+--------------+---------+------------------------+
| id|    name|age|salary|    department| location|dept_wise_running_totals|
+---+--------+---+------+--------------+---------+------------------------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|                  450000|
|  3|     sam| 56|670000|Data Analytics|Bangalore|                 1120000|
|  4|    hari| 67| 90000|  Data Science|     Pune|                   90000|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|                  166000|
|  2|    mahi| 45| 55000|      Software|  Chennai|                   55000|
|  6|yoganand| 56| 89000|      Software|  Chennai|                  144000|
+---+--------+---+------+--------------+---------+------------------------+

In [0]:
data_df.withColumn(
    'total_salary', sum('salary').over(partitionbydept))\
        .withColumn('avg_salary', avg('salary').over(partitionbydept))\
            .withColumn('total_emps', count('id').over(partitionbydept))\
                .withColumn('min_salary', min('salary').over(partitionbydept)).show()

+---+--------+---+------+--------------+---------+------------+----------+----------+----------+
| id|    name|age|salary|    department| location|total_salary|avg_salary|total_emps|min_salary|
+---+--------+---+------+--------------+---------+------------+----------+----------+----------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|     1120000|  560000.0|         2|    450000|
|  3|     sam| 56|670000|Data Analytics|Bangalore|     1120000|  560000.0|         2|    450000|
|  4|    hari| 67| 90000|  Data Science|     Pune|      166000|   83000.0|         2|     76000|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|      166000|   83000.0|         2|     76000|
|  2|    mahi| 45| 55000|      Software|  Chennai|      144000|   72000.0|         2|     55000|
|  6|yoganand| 56| 89000|      Software|  Chennai|      144000|   72000.0|         2|     55000|
+---+--------+---+------+--------------+---------+------------+----------+----------+----------+

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
orderbysalarydesc = Window.orderBy(col('salary').desc())

In [0]:
from pyspark.sql.functions import rank, dense_rank, row_number, lead, lag

In [0]:
data_df.withColumn('rnk', rank().over(orderbysalarydesc)).show()

+---+--------+---+------+--------------+---------+---+
| id|    name|age|salary|    department| location|rnk|
+---+--------+---+------+--------------+---------+---+
|  3|     sam| 56|670000|Data Analytics|Bangalore|  1|
|  1|    giri| 34|450000|Data Analytics|Bangalore|  2|
|  4|    hari| 67| 90000|  Data Science|     Pune|  3|
|  6|yoganand| 56| 89000|      Software|  Chennai|  4|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|  5|
|  2|    mahi| 45| 55000|      Software|  Chennai|  6|
+---+--------+---+------+--------------+---------+---+

In [0]:
orderbysalaryasc = Window.orderBy(col('salary'))

In [0]:
adf = data_df.withColumn('rnk', rank().over(orderbysalaryasc))

In [0]:
adf.where(col('rnk')==1).show()

+---+----+---+------+----------+--------+---+
| id|name|age|salary|department|location|rnk|
+---+----+---+------+----------+--------+---+
|  2|mahi| 45| 55000|  Software| Chennai|  1|
+---+----+---+------+----------+--------+---+

In [0]:
data_df.show()

+---+--------+---+------+--------------+---------+
| id|    name|age|salary|    department| location|
+---+--------+---+------+--------------+---------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|
|  2|    mahi| 45| 55000|      Software|  Chennai|
|  3|     sam| 56|670000|Data Analytics|Bangalore|
|  4|    hari| 67| 90000|  Data Science|     Pune|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|
|  6|yoganand| 56| 89000|      Software|  Chennai|
+---+--------+---+------+--------------+---------+

In [0]:
data_df.withColumn('drnk', dense_rank().over(orderbysalaryasc)).show()

+---+--------+---+------+--------------+---------+----+
| id|    name|age|salary|    department| location|drnk|
+---+--------+---+------+--------------+---------+----+
|  2|    mahi| 45| 55000|      Software|  Chennai|   1|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|   2|
|  6|yoganand| 56| 89000|      Software|  Chennai|   3|
|  4|    hari| 67| 90000|  Data Science|     Pune|   4|
|  1|    giri| 34|450000|Data Analytics|Bangalore|   5|
|  3|     sam| 56|670000|Data Analytics|Bangalore|   6|
+---+--------+---+------+--------------+---------+----+

In [0]:
dept_wise_orderbysalarydesc = Window.partitionBy('department').orderBy(col('salary').desc())

In [0]:
data_df.withColumn('dept_wise_ranking', dense_rank().over(dept_wise_orderbysalarydesc)).show()

+---+--------+---+------+--------------+---------+-----------------+
| id|    name|age|salary|    department| location|dept_wise_ranking|
+---+--------+---+------+--------------+---------+-----------------+
|  3|     sam| 56|670000|Data Analytics|Bangalore|                1|
|  1|    giri| 34|450000|Data Analytics|Bangalore|                2|
|  4|    hari| 67| 90000|  Data Science|     Pune|                1|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|                2|
|  6|yoganand| 56| 89000|      Software|  Chennai|                1|
|  2|    mahi| 45| 55000|      Software|  Chennai|                2|
+---+--------+---+------+--------------+---------+-----------------+

In [0]:
data_df.withColumn('rnk', rank().over(orderbysalarydesc))\
    .withColumn('drnk', dense_rank().over(orderbysalarydesc))\
        .withColumn('rn', row_number().over(orderbysalarydesc)).show()

+---+--------+---+------+--------------+---------+---+----+---+
| id|    name|age|salary|    department| location|rnk|drnk| rn|
+---+--------+---+------+--------------+---------+---+----+---+
|  3|     sam| 56|670000|Data Analytics|Bangalore|  1|   1|  1|
|  1|    giri| 34|450000|Data Analytics|Bangalore|  2|   2|  2|
|  4|    hari| 67| 90000|  Data Science|     Pune|  3|   3|  3|
|  6|yoganand| 56| 89000|      Software|  Chennai|  4|   4|  4|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|  5|   5|  5|
|  2|    mahi| 45| 55000|      Software|  Chennai|  6|   6|  6|
+---+--------+---+------+--------------+---------+---+----+---+

In [0]:
data_df.withColumn('next_emp_age', lead('age').over(Window.partitionBy('department').orderBy('id')))\
    .withColumn('prev_emp_age', lag('age').over(Window.partitionBy('department').orderBy('id'))).show()

+---+--------+---+------+--------------+---------+------------+------------+
| id|    name|age|salary|    department| location|next_emp_age|prev_emp_age|
+---+--------+---+------+--------------+---------+------------+------------+
|  1|    giri| 34|450000|Data Analytics|Bangalore|          56|        null|
|  3|     sam| 56|670000|Data Analytics|Bangalore|        null|          34|
|  4|    hari| 67| 90000|  Data Science|     Pune|          42|        null|
|  5|  ravesh| 42| 76000|  Data Science|     Pune|        null|          67|
|  2|    mahi| 45| 55000|      Software|  Chennai|          56|        null|
|  6|yoganand| 56| 89000|      Software|  Chennai|        null|          45|
+---+--------+---+------+--------------+---------+------------+------------+

# **Part - VII (Window Functions)**

**Implementation of All Window Functions (Rank, Dense Rank, Row Number, Lead, Lag)**

# **Part - VIII (Joins)**

**Implementation of All Joins (Inner, left, right, full, leftsemi, leftanti, cross, self)**

In [0]:
customers = [
    {'id': 101, 'name': 'mahendra', 'city': 'Delhi', 'age': 35},
    {'id': 102, 'name': 'hari', 'city': 'Chennai', 'age': 24},
    {'id': 103, 'name': 'fahad', 'city': 'Hyderabad', 'age': 30},
    {'id': 104, 'name': 'kunal', 'city': 'Mumbai', 'age': 36},
    {'id': 105, 'name': 'harsha', 'city': 'Bangalore', 'age': 49},
    {'id': 106, 'name': 'teja', 'city': 'Pune', 'age': 45}
]
orders = [
    {'orderId': 201, 'product_name': 'laptop', 'order_amount': 550000, 'customerId': 101},
    {'orderId': 202, 'product_name': 'mobile', 'order_amount': 20000, 'customerId': 103},
    {'orderId': 203, 'product_name': 'keyboard', 'order_amount': 1000, 'customerId': 102},
    {'orderId': 204, 'product_name': 'headphones', 'order_amount': 500, 'customerId': 105},
    {'orderId': 205, 'product_name': 'smartwatch', 'order_amount': 12000, 'customerId': 103}, 
    {'orderId': 206, 'product_name': 'mobile', 'order_amount': 14000, 'customerId': 110}
]

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

customers_schema = StructType([
    StructField("id", IntegerType(), False), 
    StructField("name", StringType(), True),
    StructField("city", StringType(), True),
    StructField("age", IntegerType(), True)
])

orders_schema = StructType([
    StructField("orderId", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("order_amount", IntegerType(), True),
    StructField("customerId", IntegerType(), True)
])

In [0]:
cust_df = spark.createDataFrame(customers, schema=customers_schema)
ord_df = spark.createDataFrame(orders, schema=orders_schema)
cust_df.show()
ord_df.show()

+---+--------+---------+---+
| id|    name|     city|age|
+---+--------+---------+---+
|101|mahendra|    Delhi| 35|
|102|    hari|  Chennai| 24|
|103|   fahad|Hyderabad| 30|
|104|   kunal|   Mumbai| 36|
|105|  harsha|Bangalore| 49|
|106|    teja|     Pune| 45|
+---+--------+---------+---+

+-------+------------+------------+----------+
|orderId|product_name|order_amount|customerId|
+-------+------------+------------+----------+
|    201|      laptop|      550000|       101|
|    202|      mobile|       20000|       103|
|    203|    keyboard|        1000|       102|
|    204|  headphones|         500|       105|
|    205|  smartwatch|       12000|       103|
|    206|      mobile|       14000|       110|
+-------+------------+------------+----------+

In [0]:
cust_df.join(ord_df, cust_df.id == ord_df.customerId, how='inner').show()

+---+--------+---------+---+-------+------------+------------+----------+
| id|    name|     city|age|orderId|product_name|order_amount|customerId|
+---+--------+---------+---+-------+------------+------------+----------+
|101|mahendra|    Delhi| 35|    201|      laptop|      550000|       101|
|102|    hari|  Chennai| 24|    203|    keyboard|        1000|       102|
|103|   fahad|Hyderabad| 30|    202|      mobile|       20000|       103|
|103|   fahad|Hyderabad| 30|    205|  smartwatch|       12000|       103|
|105|  harsha|Bangalore| 49|    204|  headphones|         500|       105|
+---+--------+---------+---+-------+------------+------------+----------+

In [0]:
cust_df.join(ord_df, on=cust_df.id == ord_df.customerId, how='left').show()

+---+--------+---------+---+-------+------------+------------+----------+
| id|    name|     city|age|orderId|product_name|order_amount|customerId|
+---+--------+---------+---+-------+------------+------------+----------+
|101|mahendra|    Delhi| 35|    201|      laptop|      550000|       101|
|102|    hari|  Chennai| 24|    203|    keyboard|        1000|       102|
|103|   fahad|Hyderabad| 30|    205|  smartwatch|       12000|       103|
|103|   fahad|Hyderabad| 30|    202|      mobile|       20000|       103|
|104|   kunal|   Mumbai| 36|   null|        null|        null|      null|
|105|  harsha|Bangalore| 49|    204|  headphones|         500|       105|
|106|    teja|     Pune| 45|   null|        null|        null|      null|
+---+--------+---------+---+-------+------------+------------+----------+

In [0]:
cust_df.join(ord_df, cust_df.id == ord_df.customerId, how='right').show()

+----+--------+---------+----+-------+------------+------------+----------+
|  id|    name|     city| age|orderId|product_name|order_amount|customerId|
+----+--------+---------+----+-------+------------+------------+----------+
| 101|mahendra|    Delhi|  35|    201|      laptop|      550000|       101|
| 103|   fahad|Hyderabad|  30|    202|      mobile|       20000|       103|
| 102|    hari|  Chennai|  24|    203|    keyboard|        1000|       102|
| 105|  harsha|Bangalore|  49|    204|  headphones|         500|       105|
| 103|   fahad|Hyderabad|  30|    205|  smartwatch|       12000|       103|
|null|    null|     null|null|    206|      mobile|       14000|       110|
+----+--------+---------+----+-------+------------+------------+----------+

In [0]:
cust_df.join(ord_df, cust_df.id == ord_df.customerId, how='full').show()

+----+--------+---------+----+-------+------------+------------+----------+
|  id|    name|     city| age|orderId|product_name|order_amount|customerId|
+----+--------+---------+----+-------+------------+------------+----------+
| 101|mahendra|    Delhi|  35|    201|      laptop|      550000|       101|
| 102|    hari|  Chennai|  24|    203|    keyboard|        1000|       102|
| 103|   fahad|Hyderabad|  30|    202|      mobile|       20000|       103|
| 103|   fahad|Hyderabad|  30|    205|  smartwatch|       12000|       103|
| 104|   kunal|   Mumbai|  36|   null|        null|        null|      null|
| 105|  harsha|Bangalore|  49|    204|  headphones|         500|       105|
| 106|    teja|     Pune|  45|   null|        null|        null|      null|
|null|    null|     null|null|    206|      mobile|       14000|       110|
+----+--------+---------+----+-------+------------+------------+----------+

In [0]:
cust_df.join(ord_df, cust_df.id == ord_df.customerId, how='outer').show()

+----+--------+---------+----+-------+------------+------------+----------+
|  id|    name|     city| age|orderId|product_name|order_amount|customerId|
+----+--------+---------+----+-------+------------+------------+----------+
| 101|mahendra|    Delhi|  35|    201|      laptop|      550000|       101|
| 102|    hari|  Chennai|  24|    203|    keyboard|        1000|       102|
| 103|   fahad|Hyderabad|  30|    202|      mobile|       20000|       103|
| 103|   fahad|Hyderabad|  30|    205|  smartwatch|       12000|       103|
| 104|   kunal|   Mumbai|  36|   null|        null|        null|      null|
| 105|  harsha|Bangalore|  49|    204|  headphones|         500|       105|
| 106|    teja|     Pune|  45|   null|        null|        null|      null|
|null|    null|     null|null|    206|      mobile|       14000|       110|
+----+--------+---------+----+-------+------------+------------+----------+

In [0]:
cust_df.join(ord_df, cust_df.id == ord_df.customerId, how='leftsemi').show()

+---+--------+---------+---+
| id|    name|     city|age|
+---+--------+---------+---+
|101|mahendra|    Delhi| 35|
|102|    hari|  Chennai| 24|
|103|   fahad|Hyderabad| 30|
|105|  harsha|Bangalore| 49|
+---+--------+---------+---+

In [0]:
cust_df.join(ord_df, cust_df.id == ord_df.customerId, how='leftanti').show()

+---+-----+------+---+
| id| name|  city|age|
+---+-----+------+---+
|104|kunal|Mumbai| 36|
|106| teja|  Pune| 45|
+---+-----+------+---+

In [0]:
cust_df.crossJoin(ord_df).show()
cust_df.crossJoin(ord_df).count()

+---+--------+---------+---+-------+------------+------------+----------+
| id|    name|     city|age|orderId|product_name|order_amount|customerId|
+---+--------+---------+---+-------+------------+------------+----------+
|101|mahendra|    Delhi| 35|    201|      laptop|      550000|       101|
|101|mahendra|    Delhi| 35|    202|      mobile|       20000|       103|
|101|mahendra|    Delhi| 35|    203|    keyboard|        1000|       102|
|101|mahendra|    Delhi| 35|    204|  headphones|         500|       105|
|101|mahendra|    Delhi| 35|    205|  smartwatch|       12000|       103|
|101|mahendra|    Delhi| 35|    206|      mobile|       14000|       110|
|102|    hari|  Chennai| 24|    201|      laptop|      550000|       101|
|102|    hari|  Chennai| 24|    202|      mobile|       20000|       103|
|102|    hari|  Chennai| 24|    203|    keyboard|        1000|       102|
|102|    hari|  Chennai| 24|    204|  headphones|         500|       105|
|102|    hari|  Chennai| 24|    205|  smartwatch|       12000|       103|
|102|    hari|  Chennai| 24|    206|      mobile|       14000|       110|
|103|   fahad|Hyderabad| 30|    201|      laptop|      550000|       101|
|103|   fahad|Hyderabad| 30|    202|      mobile|       20000|       103|
|103|   fahad|Hyderabad| 30|    203|    keyboard|        1000|       102|
|103|   fahad|Hyderabad| 30|    204|  headphones|         500|       105|
|103|   fahad|Hyderabad| 30|    205|  smartwatch|       12000|       103|
|103|   fahad|Hyderabad| 30|    206|      mobile|       14000|       110|
|104|   kunal|   Mumbai| 36|    201|      laptop|      550000|       101|
|104|   kunal|   Mumbai| 36|    202|      mobile|       20000|       103|
+---+--------+---------+---+-------+------------+------------+----------+
only showing top 20 rows

Out[442]: 36

In [0]:
a = cust_df.alias('cust1')
b = cust_df.alias('cust2')
a.join(b, a.age  == b.age).show()

+---+--------+---------+---+---+--------+---------+---+
| id|    name|     city|age| id|    name|     city|age|
+---+--------+---------+---+---+--------+---------+---+
|102|    hari|  Chennai| 24|102|    hari|  Chennai| 24|
|103|   fahad|Hyderabad| 30|103|   fahad|Hyderabad| 30|
|101|mahendra|    Delhi| 35|101|mahendra|    Delhi| 35|
|104|   kunal|   Mumbai| 36|104|   kunal|   Mumbai| 36|
|106|    teja|     Pune| 45|106|    teja|     Pune| 45|
|105|  harsha|Bangalore| 49|105|  harsha|Bangalore| 49|
+---+--------+---------+---+---+--------+---------+---+