In [0]:
dfp=spark.read.csv(['dbfs:/FileStore/tables/Products_Updated-1.csv', 'dbfs:/FileStore/tables/Products_Updated.csv']
    , header = True)

In [0]:
dfp.show()

+----------+------------+----------+-----+
|product_id|product_name|  category|price|
+----------+------------+----------+-----+
|         5|   iPhone SE|Smartphone|  450|
|         6| AirPods Pro| Accessory|  250|
|         7| MacBook Air|    Laptop| 1000|
|         8|   iPad Mini|    Tablet|  400|
|         5|   iPhone SE|Smartphone|  450|
|         6| AirPods Pro| Accessory|  250|
|         7| MacBook Air|    Laptop| 1000|
|         8|   iPad Mini|    Tablet|  400|
+----------+------------+----------+-----+

In [0]:
dfp.write.parquet('FileStore/parquet', mode='overwrite')

In [0]:
spark.read.parquet('/FileStore/parquet').show(n=4, truncate=False)

+----------+------------+----------+-----+
|product_id|product_name|category  |price|
+----------+------------+----------+-----+
|5         |iPhone SE   |Smartphone|450  |
|6         |AirPods Pro |Accessory |250  |
|7         |MacBook Air |Laptop    |1000 |
|8         |iPad Mini   |Tablet    |400  |
+----------+------------+----------+-----+
only showing top 4 rows

In [0]:
spark

In [0]:
from pyspark import SparkContext
a=sc.parallelize([1,2,3,4])

In [0]:
a.collect()

Out[58]: [1, 2, 3, 4]

In [0]:
a.getNumPartitions()

Out[59]: 8

In [0]:
data = [(1, 'yogesh', 40, 50000, 'Data', 4), (2, 'hari', 50, 30000, 'Test', 2),
    (3, 'gowri', 34, 63000, 'Data Analytics', 1), (4, 'umesh', 42, 78000, 'Data', 2),(5, 'teju', 24, 43000, 'Finance', 1)]
schema = ['id', 'name', 'age', 'salary', 'department', 'manager_id']

In [0]:
df = spark.createDataFrame(data, schema=schema)

In [0]:
type(df)

Out[62]: pyspark.sql.dataframe.DataFrame

In [0]:
df.show()

+---+------+---+------+--------------+----------+
| id|  name|age|salary|    department|manager_id|
+---+------+---+------+--------------+----------+
|  1|yogesh| 40| 50000|          Data|         4|
|  2|  hari| 50| 30000|          Test|         2|
|  3| gowri| 34| 63000|Data Analytics|         1|
|  4| umesh| 42| 78000|          Data|         2|
|  5|  teju| 24| 43000|       Finance|         1|
+---+------+---+------+--------------+----------+

In [0]:
df.show(n=3, truncate=True)

+---+------+---+------+--------------+----------+
| id|  name|age|salary|    department|manager_id|
+---+------+---+------+--------------+----------+
|  1|yogesh| 40| 50000|          Data|         4|
|  2|  hari| 50| 30000|          Test|         2|
|  3| gowri| 34| 63000|Data Analytics|         1|
+---+------+---+------+--------------+----------+
only showing top 3 rows

In [0]:
a = df.tail(3)

In [0]:
spark.createDataFrame(a).show()

+---+-----+---+------+--------------+----------+
| id| name|age|salary|    department|manager_id|
+---+-----+---+------+--------------+----------+
|  3|gowri| 34| 63000|Data Analytics|         1|
|  4|umesh| 42| 78000|          Data|         2|
|  5| teju| 24| 43000|       Finance|         1|
+---+-----+---+------+--------------+----------+

In [0]:
spark.createDataFrame(a).display()

id,name,age,salary,department,manager_id
3,gowri,34,63000,Data Analytics,1
4,umesh,42,78000,Data,2
5,teju,24,43000,Finance,1

In [0]:
df.display()

id,name,age,salary,department,manager_id
1,yogesh,40,50000,Data,4
2,hari,50,30000,Test,2
3,gowri,34,63000,Data Analytics,1
4,umesh,42,78000,Data,2
5,teju,24,43000,Finance,1

In [0]:
df.count()

Out[69]: 5

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)
 |-- manager_id: long (nullable = true)

In [0]:
from pyspark.sql.types import StructField, StructType, IntegerType, FloatType, StringType, DateType
schema = StructType([
    StructField('id', IntegerType(), nullable = False), 
    StructField('name', StringType()), 
    StructField('age', IntegerType()), 
    StructField('salary', IntegerType()),
    StructField('department', StringType(), nullable = False), 
    StructField('manager_id', IntegerType())
])

In [0]:
df2 = spark.createDataFrame(data, schema=schema)

In [0]:
df2.display()

id,name,age,salary,department,manager_id
1,yogesh,40,50000,Data,4
2,hari,50,30000,Test,2
3,gowri,34,63000,Data Analytics,1
4,umesh,42,78000,Data,2
5,teju,24,43000,Finance,1

In [0]:
from pyspark.sql import functions as F 
dir(F)

Out[74]: ['Any',
 'ArrayType',
 'Callable',
 'Column',
 'DataFrame',
 'DataType',
 'DeprecatedFuncUsageLogger',
 'Dict',
 'Iterable',
 'List',
 'Optional',
 'PandasUDFType',
 'PySparkTypeError',
 'PySparkValueError',
 'PythonEvalType',
 'SparkContext',
 'StringType',
 'StructType',
 'TYPE_CHECKING',
 'Tuple',
 'Union',
 'UserDefinedFunction',
 'ValuesView',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_create_column_from_literal',
 '_create_edge_udf',
 '_create_lambda',
 '_create_udf',
 '_get_jvm_function',
 '_get_lambda_parameters',
 '_invoke_binary_math_function',
 '_invoke_function',
 '_invoke_function_over_columns',
 '_invoke_function_over_seq_of_columns',
 '_invoke_higher_order_function',
 '_options_to_str',
 '_test',
 '_to_java_column',
 '_to_seq',
 '_unresolved_named_lambda_variable',
 'abs',
 'acos',
 'acosh',
 'add_months',
 'aggregate',
 'approxCountDistinct',
 'approx_count_distinct',
 'array',
 'array_append',
 'array_compact',
 'array_contains',
 'array_distinct',
 'array_except',
 'array_intersect',
 'array_join',
 'array_max',
 'array_min',
 'array_position',
 'array_remove',
 'array_repeat',
 'array_sort',
 'array_union',
 'arrays_overlap',
 'arrays_zip',
 'asc',
 'asc_nulls_first',
 'asc_nulls_last',
 'ascii',
 'asin',
 'asinh',
 'assert_true',
 'atan',
 'atan2',
 'atanh',
 'avg',
 'base64',
 'bin',
 'bit_length',
 'bitwiseNOT',
 'bitwise_not',
 'broadcast',
 'bround',
 'bucket',
 'cast',
 'cbrt',
 'ceil',
 'coalesce',
 'col',
 'collect_list',
 'collect_set',
 'column',
 'concat',
 'concat_ws',
 'conv',
 'corr',
 'cos',
 'cosh',
 'cot',
 'count',
 'countDistinct',
 'count_distinct',
 'covar_pop',
 'covar_samp',
 'crc32',
 'create_map',
 'csc',
 'cume_dist',
 'current_date',
 'current_timestamp',
 'date_add',
 'date_format',
 'date_sub',
 'date_trunc',
 'datediff',
 'dayofmonth',
 'dayofweek',
 'dayofyear',
 'days',
 'decode',
 'degrees',
 'dense_rank',
 'desc',
 'desc_nulls_first',
 'desc_nulls_last',
 'element_at',
 'encode',
 'exists',
 'exp',
 'explode',
 'explode_outer',
 'expm1',
 'expr',
 'factorial',
 'filter',
 'first',
 'flatten',
 'floor',
 'forall',
 'format_number',
 'format_string',
 'from_csv',
 'from_json',
 'from_unixtime',
 'from_utc_timestamp',
 'functools',
 'get',
 'get_json_object',
 'greatest',
 'grouping',
 'grouping_id',
 'hash',
 'hex',
 'hour',
 'hours',
 'hypot',
 'initcap',
 'inline',
 'inline_outer',
 'input_file_name',
 'inspect',
 'instr',
 'isnan',
 'isnull',
 'json_tuple',
 'kurtosis',
 'lag',
 'last',
 'last_day',
 'lead',
 'least',
 'length',
 'levenshtein',
 'lit',
 'locate',
 'log',
 'log10',
 'log1p',
 'log2',
 'lower',
 'lpad',
 'ltrim',
 'make_date',
 'map_concat',
 'map_entries',
 'map_filter',
 'map_from_arrays',
 'map_from_entries',
 'map_keys',
 'map_values',
 'map_zip_with',
 'max',
 'max_by',
 'md5',
 'mean',
 'median',
 'min',
 'min_by',
 'minute',
 'mode',
 'monotonically_increasing_id',
 'month',
 'months',
 'months_between',
 'nanvl',
 'next_day',
 'nth_value',
 'ntile',
 'octet_length',
 'overlay',
 'overload',
 'pandas_udf',
 'percent_rank',
 'percentile_approx',
 'posexplode',
 'posexplode_outer',
 'pow',
 'product',
 'quarter',
 'radians',
 'raise_error',
 'rand',
 'randn',
 'rank',
 'regexp_extract',
 'regexp_replace',
 'repeat',
 'reverse',
 'rint',
 'round',
 'row_number',
 'rpad',
 'rtrim',
 'schema_of_csv',
 'schema_of_json',
 'sec',
 'second',
 'sentences',
 'sequence',
 'session_window',
 'sha1',
 'sha2',
 'shiftLeft',
 'shiftRight',
 'shiftRightUnsigned',
 'shiftleft',
 'shiftright',
 'shiftrightunsigned',
 'shuffle',
 'signum',
 'sin',
 'sinh',
 'size',
 'skewness',
 'slice',
 'sort_array',
 'soundex',
 'spark_partition_id',
 'split',
 'sqrt',
 'stddev',
 'stddev_pop',
 'stddev_samp',
 'struct',
 'substring',
 'substring_index',
 'sum',
 'sumDistinct',
 'sum_distinct',
 'sys',
 'tan',
 'tanh',
 'timestamp_seconds',
 'toDegrees',
 'toRadians',
 'to_csv',
 'to_date',
 'to_json',
 'to_str',
 'to_timestamp',
 'to_utc_timestamp',
 'transform',
 'transform_keys',
 'transform_values',
 'translate',
 'trim',
 'trunc',
 'try_remote_functions',
 'udf',
 'unbase64',
 'unhex',
 'unix_timestamp',
 'unwrap_udt',
 'upper',
 'var_pop',
 'var_samp',
 'variance',
 'warnings',
 'weekofyear',
 'when',
 'window',
 'window_time',
 'xxhash64',
 'year',
 'years',
 'zip_with']

In [0]:
help(df.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+

In [0]:
df.show()

+---+------+---+------+--------------+----------+
| id|  name|age|salary|    department|manager_id|
+---+------+---+------+--------------+----------+
|  1|yogesh| 40| 50000|          Data|         4|
|  2|  hari| 50| 30000|          Test|         2|
|  3| gowri| 34| 63000|Data Analytics|         1|
|  4| umesh| 42| 78000|          Data|         2|
|  5|  teju| 24| 43000|       Finance|         1|
+---+------+---+------+--------------+----------+

In [0]:
from pyspark.sql.functions import col
df=df.withColumn('updated_salary', col=col('salary')*1.2)

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+
| id|  name|age|salary|    department|manager_id|updated_salary|
+---+------+---+------+--------------+----------+--------------+
|  1|yogesh| 40| 50000|          Data|         4|       60000.0|
|  2|  hari| 50| 30000|          Test|         2|       36000.0|
|  3| gowri| 34| 63000|Data Analytics|         1|       75600.0|
|  4| umesh| 42| 78000|          Data|         2|       93600.0|
|  5|  teju| 24| 43000|       Finance|         1|       51600.0|
+---+------+---+------+--------------+----------+--------------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)
 |-- manager_id: long (nullable = true)
 |-- updated_salary: double (nullable = true)

In [0]:
df2.printSchema()

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department: string (nullable = false)
 |-- manager_id: integer (nullable = true)

In [0]:
df2.show()

+---+------+---+------+--------------+----------+
| id|  name|age|salary|    department|manager_id|
+---+------+---+------+--------------+----------+
|  1|yogesh| 40| 50000|          Data|         4|
|  2|  hari| 50| 30000|          Test|         2|
|  3| gowri| 34| 63000|Data Analytics|         1|
|  4| umesh| 42| 78000|          Data|         2|
|  5|  teju| 24| 43000|       Finance|         1|
+---+------+---+------+--------------+----------+

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+
| id|  name|age|salary|    department|manager_id|updated_salary|
+---+------+---+------+--------------+----------+--------------+
|  1|yogesh| 40| 50000|          Data|         4|       60000.0|
|  2|  hari| 50| 30000|          Test|         2|       36000.0|
|  3| gowri| 34| 63000|Data Analytics|         1|       75600.0|
|  4| umesh| 42| 78000|          Data|         2|       93600.0|
|  5|  teju| 24| 43000|       Finance|         1|       51600.0|
+---+------+---+------+--------------+----------+--------------+

In [0]:
df=df.withColumn('updated_salary', col=col('updated_salary').cast(IntegerType())
            )

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- department: string (nullable = true)
 |-- manager_id: long (nullable = true)
 |-- updated_salary: integer (nullable = true)

In [0]:
from pyspark.sql.functions import lit, when
df=df.withColumn('location',lit(None))

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+--------+
| id|  name|age|salary|    department|manager_id|updated_salary|location|
+---+------+---+------+--------------+----------+--------------+--------+
|  1|yogesh| 40| 50000|          Data|         4|         60000|    null|
|  2|  hari| 50| 30000|          Test|         2|         36000|    null|
|  3| gowri| 34| 63000|Data Analytics|         1|         75600|    null|
|  4| umesh| 42| 78000|          Data|         2|         93600|    null|
|  5|  teju| 24| 43000|       Finance|         1|         51600|    null|
+---+------+---+------+--------------+----------+--------------+--------+

In [0]:
df=df.withColumn('location', lit('USA'))

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+--------+
| id|  name|age|salary|    department|manager_id|updated_salary|location|
+---+------+---+------+--------------+----------+--------------+--------+
|  1|yogesh| 40| 50000|          Data|         4|         60000|     USA|
|  2|  hari| 50| 30000|          Test|         2|         36000|     USA|
|  3| gowri| 34| 63000|Data Analytics|         1|         75600|     USA|
|  4| umesh| 42| 78000|          Data|         2|         93600|     USA|
|  5|  teju| 24| 43000|       Finance|         1|         51600|     USA|
+---+------+---+------+--------------+----------+--------------+--------+

In [0]:
df=df.withColumn('location', when(col('department')=='Data', 'India')\
    .when(col('department')=='Test', 'UK').otherwise('USA'))

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+--------+
| id|  name|age|salary|    department|manager_id|updated_salary|location|
+---+------+---+------+--------------+----------+--------------+--------+
|  1|yogesh| 40| 50000|          Data|         4|         60000|   India|
|  2|  hari| 50| 30000|          Test|         2|         36000|      UK|
|  3| gowri| 34| 63000|Data Analytics|         1|         75600|     USA|
|  4| umesh| 42| 78000|          Data|         2|         93600|   India|
|  5|  teju| 24| 43000|       Finance|         1|         51600|     USA|
+---+------+---+------+--------------+----------+--------------+--------+

In [0]:
df_Data = df.where(col('department')=='Data')

In [0]:
df_Data.show()

+---+------+---+------+----------+----------+--------------+--------+
| id|  name|age|salary|department|manager_id|updated_salary|location|
+---+------+---+------+----------+----------+--------------+--------+
|  1|yogesh| 40| 50000|      Data|         4|         60000|   India|
|  4| umesh| 42| 78000|      Data|         2|         93600|   India|
+---+------+---+------+----------+----------+--------------+--------+

In [0]:
dfa= df.where((col('department')=='Finance') & (col('age') >= 50))

In [0]:
dfa.show()

+---+----+---+------+----------+----------+--------------+--------+
| id|name|age|salary|department|manager_id|updated_salary|location|
+---+----+---+------+----------+----------+--------------+--------+
+---+----+---+------+----------+----------+--------------+--------+

In [0]:
dfa= df.where((col('department')=='Finance')  | (col('age') >= 50))

In [0]:
dfa.show()

+---+----+---+------+----------+----------+--------------+--------+
| id|name|age|salary|department|manager_id|updated_salary|location|
+---+----+---+------+----------+----------+--------------+--------+
|  2|hari| 50| 30000|      Test|         2|         36000|      UK|
|  5|teju| 24| 43000|   Finance|         1|         51600|     USA|
+---+----+---+------+----------+----------+--------------+--------+

In [0]:
dfif =df.filter(col('salary')>50000)

In [0]:
dfif.show()

+---+-----+---+------+--------------+----------+--------------+--------+
| id| name|age|salary|    department|manager_id|updated_salary|location|
+---+-----+---+------+--------------+----------+--------------+--------+
|  3|gowri| 34| 63000|Data Analytics|         1|         75600|     USA|
|  4|umesh| 42| 78000|          Data|         2|         93600|   India|
+---+-----+---+------+--------------+----------+--------------+--------+

In [0]:
dfi = df.where(col('salary')>50000)

In [0]:
dfi.show()

+---+-----+---+------+--------------+----------+--------------+--------+
| id| name|age|salary|    department|manager_id|updated_salary|location|
+---+-----+---+------+--------------+----------+--------------+--------+
|  3|gowri| 34| 63000|Data Analytics|         1|         75600|     USA|
|  4|umesh| 42| 78000|          Data|         2|         93600|   India|
+---+-----+---+------+--------------+----------+--------------+--------+

In [0]:
data2 = [('mahendra', {'height': 10, 'weight':73}), 
         ('mahi', {'height':11, 'weight':45}), 
         ('ravi', {'height':12, 'weight':60})]
sche = ['name', 'charecteristics']

In [0]:
da = spark.createDataFrame(data2, schema=sche)

In [0]:
da.show(n=10, truncate=False)

+--------+----------------------------+
|name    |charecteristics             |
+--------+----------------------------+
|mahendra|{weight -> 73, height -> 10}|
|mahi    |{weight -> 45, height -> 11}|
|ravi    |{weight -> 60, height -> 12}|
+--------+----------------------------+

In [0]:
da.printSchema()

root
 |-- name: string (nullable = true)
 |-- charecteristics: map (nullable = true)
 |    |-- key: string
 |    |-- value: long (valueContainsNull = true)

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, MapType, IntegerType, StringType, DateType, FloatType, DecimalType, LongType
schea = StructType(
    [StructField('name', StringType(), nullable=False), 
     StructField('charecteristics', MapType(StringType(), IntegerType()))]
)

In [0]:
datax = spark.createDataFrame(data2, schema=schea)

In [0]:
datax.printSchema()

root
 |-- name: string (nullable = false)
 |-- charecteristics: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

In [0]:
datax.show(truncate=False)

+--------+----------------------------+
|name    |charecteristics             |
+--------+----------------------------+
|mahendra|{weight -> 73, height -> 10}|
|mahi    |{weight -> 45, height -> 11}|
|ravi    |{weight -> 60, height -> 12}|
+--------+----------------------------+

In [0]:
datax = datax.withColumn('weight', col=col('charecteristics')['weight'])

In [0]:
datax.show()

+--------+--------------------+------+
|    name|     charecteristics|weight|
+--------+--------------------+------+
|mahendra|{weight -> 73, he...|    73|
|    mahi|{weight -> 45, he...|    45|
|    ravi|{weight -> 60, he...|    60|
+--------+--------------------+------+

In [0]:
datax=datax.withColumn('height', col=col('charecteristics')['height'])

In [0]:
datax.show()

+--------+--------------------+------+------+
|    name|     charecteristics|weight|height|
+--------+--------------------+------+------+
|mahendra|{weight -> 73, he...|    73|    10|
|    mahi|{weight -> 45, he...|    45|    11|
|    ravi|{weight -> 60, he...|    60|    12|
+--------+--------------------+------+------+

In [0]:
from pyspark.sql.functions import array 
datax = datax.withColumn('chare', array(col('weight'), col('height')))

In [0]:
datax.show()

+--------+--------------------+------+------+--------+
|    name|     charecteristics|weight|height|   chare|
+--------+--------------------+------+------+--------+
|mahendra|{weight -> 73, he...|    73|    10|[73, 10]|
|    mahi|{weight -> 45, he...|    45|    11|[45, 11]|
|    ravi|{weight -> 60, he...|    60|    12|[60, 12]|
+--------+--------------------+------+------+--------+

In [0]:
da2=datax.select(col('name'), col('chare').alias('ids'))

In [0]:
da2.show()

+--------+--------+
|    name|     ids|
+--------+--------+
|mahendra|[73, 10]|
|    mahi|[45, 11]|
|    ravi|[60, 12]|
+--------+--------+

In [0]:
da2=da2.withColumn('id', col('ids')[1])

In [0]:
da2.show()

+--------+--------+---+
|    name|     ids| id|
+--------+--------+---+
|mahendra|[73, 10]| 10|
|    mahi|[45, 11]| 11|
|    ravi|[60, 12]| 12|
+--------+--------+---+

In [0]:
da2=da2.withColumn('age', col('ids')[0].alias('age'))

In [0]:
da2.show()

+--------+--------+---+---+
|    name|     ids| id|age|
+--------+--------+---+---+
|mahendra|[73, 10]| 10| 73|
|    mahi|[45, 11]| 11| 45|
|    ravi|[60, 12]| 12| 60|
+--------+--------+---+---+

In [0]:
from pyspark.sql.functions import *
da3=da2.withColumn('details', explode(col('ids')))

In [0]:
da3.show()

+--------+--------+---+---+-------+
|    name|     ids| id|age|details|
+--------+--------+---+---+-------+
|mahendra|[73, 10]| 10| 73|     73|
|mahendra|[73, 10]| 10| 73|     10|
|    mahi|[45, 11]| 11| 45|     45|
|    mahi|[45, 11]| 11| 45|     11|
|    ravi|[60, 12]| 12| 60|     60|
|    ravi|[60, 12]| 12| 60|     12|
+--------+--------+---+---+-------+

In [0]:
dac=da2.withColumn('valuesgreaterthan60', array_contains(col('ids'), 70))

In [0]:
dac.show()

+--------+--------+---+---+-------------------+
|    name|     ids| id|age|valuesgreaterthan60|
+--------+--------+---+---+-------------------+
|mahendra|[73, 10]| 10| 73|              false|
|    mahi|[45, 11]| 11| 45|              false|
|    ravi|[60, 12]| 12| 60|              false|
+--------+--------+---+---+-------------------+

In [0]:
da3.select(col('name'), col('details')).show()

+--------+-------+
|    name|details|
+--------+-------+
|mahendra|     73|
|mahendra|     10|
|    mahi|     45|
|    mahi|     11|
|    ravi|     60|
|    ravi|     12|
+--------+-------+

In [0]:
datay = [
    (1, 'mahi', '4000, 3000'), 
    (2, 'mahendra', '5000, 9000'),
    (3, 'sam', '6000, 3200')
]

In [0]:
datay = spark.createDataFrame(datay, schema=['id', 'name', 'salary'])

In [0]:
datay.show(truncate=False)

+---+--------+----------+
|id |name    |salary    |
+---+--------+----------+
|1  |mahi    |4000, 3000|
|2  |mahendra|5000, 9000|
|3  |sam     |6000, 3200|
+---+--------+----------+

In [0]:
datay=datay.withColumn('salaries', split(col('salary'),','))

In [0]:
datay.show()

+---+--------+----------+-------------+
| id|    name|    salary|     salaries|
+---+--------+----------+-------------+
|  1|    mahi|4000, 3000|[4000,  3000]|
|  2|mahendra|5000, 9000|[5000,  9000]|
|  3|     sam|6000, 3200|[6000,  3200]|
+---+--------+----------+-------------+

In [0]:
datay = datay.withColumns({'salary1': col('salaries')[0], 
                          'salary2': col('salaries')[1]})

In [0]:
datay.show()

+---+--------+----------+-------------+-------+-------+
| id|    name|    salary|     salaries|salary1|salary2|
+---+--------+----------+-------------+-------+-------+
|  1|    mahi|4000, 3000|[4000,  3000]|   4000|   3000|
|  2|mahendra|5000, 9000|[5000,  9000]|   5000|   9000|
|  3|     sam|6000, 3200|[6000,  3200]|   6000|   3200|
+---+--------+----------+-------------+-------+-------+

In [0]:
datau = datay.select(col('id'), col('salaries')[0].alias('salary'), 
                     col('salaries')[1].alias('updated_salary'))

In [0]:
datau.show()

+---+------+--------------+
| id|salary|updated_salary|
+---+------+--------------+
|  1|  4000|          3000|
|  2|  5000|          9000|
|  3|  6000|          3200|
+---+------+--------------+

In [0]:
datau.select(col('id'), col('salary')).where(col('salary')>4000).show()

+---+------+
| id|salary|
+---+------+
|  2|  5000|
|  3|  6000|
+---+------+

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+--------+
| id|  name|age|salary|    department|manager_id|updated_salary|location|
+---+------+---+------+--------------+----------+--------------+--------+
|  1|yogesh| 40| 50000|          Data|         4|         60000|   India|
|  2|  hari| 50| 30000|          Test|         2|         36000|      UK|
|  3| gowri| 34| 63000|Data Analytics|         1|         75600|     USA|
|  4| umesh| 42| 78000|          Data|         2|         93600|   India|
|  5|  teju| 24| 43000|       Finance|         1|         51600|     USA|
+---+------+---+------+--------------+----------+--------------+--------+

In [0]:
df.groupBy(col('location')).count().show()

+--------+-----+
|location|count|
+--------+-----+
|   India|    2|
|      UK|    1|
|     USA|    2|
+--------+-----+

In [0]:
df.groupBy('department').agg(
    sum('salary').alias('dept_wise_salary'), 
    count('id').alias('numberofemployees'), 
    avg('salary').alias('averagaesalary')
).show()

+--------------+----------------+-----------------+--------------+
|    department|dept_wise_salary|numberofemployees|averagaesalary|
+--------------+----------------+-----------------+--------------+
|          Data|          128000|                2|       64000.0|
|          Test|           30000|                1|       30000.0|
|Data Analytics|           63000|                1|       63000.0|
|       Finance|           43000|                1|       43000.0|
+--------------+----------------+-----------------+--------------+

In [0]:
df.show()

+---+------+---+------+--------------+----------+--------------+--------+
| id|  name|age|salary|    department|manager_id|updated_salary|location|
+---+------+---+------+--------------+----------+--------------+--------+
|  1|yogesh| 40| 50000|          Data|         4|         60000|   India|
|  2|  hari| 50| 30000|          Test|         2|         36000|      UK|
|  3| gowri| 34| 63000|Data Analytics|         1|         75600|     USA|
|  4| umesh| 42| 78000|          Data|         2|         93600|   India|
|  5|  teju| 24| 43000|       Finance|         1|         51600|     USA|
+---+------+---+------+--------------+----------+--------------+--------+

In [0]:
df4=df.drop('location')

In [0]:
df4.show()

+---+------+---+------+--------------+----------+--------------+
| id|  name|age|salary|    department|manager_id|updated_salary|
+---+------+---+------+--------------+----------+--------------+
|  1|yogesh| 40| 50000|          Data|         4|         60000|
|  2|  hari| 50| 30000|          Test|         2|         36000|
|  3| gowri| 34| 63000|Data Analytics|         1|         75600|
|  4| umesh| 42| 78000|          Data|         2|         93600|
|  5|  teju| 24| 43000|       Finance|         1|         51600|
+---+------+---+------+--------------+----------+--------------+

In [0]:
df4=df4.drop('updated_salary')

In [0]:
df4.show()

+---+------+---+------+--------------+----------+
| id|  name|age|salary|    department|manager_id|
+---+------+---+------+--------------+----------+
|  1|yogesh| 40| 50000|          Data|         4|
|  2|  hari| 50| 30000|          Test|         2|
|  3| gowri| 34| 63000|Data Analytics|         1|
|  4| umesh| 42| 78000|          Data|         2|
|  5|  teju| 24| 43000|       Finance|         1|
+---+------+---+------+--------------+----------+